<!DOCTYPE html>
<html lang="en">
​
<head>
​
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
​
    <title>Ana Sayfa</title>
​
    <!-- Bootstrap Core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
​
    <!-- Custom CSS -->
    <link href="static/index.css" rel="stylesheet">
​
    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
​
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
​
</head>
​
<body>
​
​
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">

            <div class="row" id="title">
                <p>Akademisyen Veritabanı</p>
            </div>
            <div class="row"><br><br></div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
				<div class="input-group">
					<form method=post>
						<!--<input type="hidden" name="search_param" value="all" id="search_param"> -->
						<input type="text" class="form-control" name="x">
​
						<div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
								<button type="submit" class="btn btn-default" onclick="javascript: form.action='/result';">Ara</button>
							</div>
							<div class="btn-group" role="group">
								<button type="submit" class="btn btn-default" onclick="javascript: form.action='/add_person';">Araştır</button>
							</div>

						</div>
					</form>
				</div>
			</div>

            </div>


        </div>
    </header>
​
​
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>
​
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
​

    <script src="static/js/script.js"></script>
​

</body>
​
</html>