<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kayıtlar</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/listall.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <a class="navbar-brand" href="../index.html">Ana Sayfa</a>
		</div>
        <ul class="nav navbar-nav">
            <li><a href="../listall">Hepsini Gör</a></li>
        </ul>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		  <form class="navbar-form navbar-right" action="/result" method=post>
			<div class="form-group">
			  <input type="text" class="form-control" name="x">
			</div>
			<button type="submit" class="btn btn-default">Ara</button>
		  </form>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
			<div class="row" id="wrapper-row">

				<div class="col-md-8 col-md-offset-2" id="resultpane">

					{% for i in data %}
					<div class="col-md-12" id="result-item-wrapper">
						<div class="col-md-12" id="result-item" >

							<div class="row" id="result-item-row">
								<div class="col-md-2" id="result-item-photo">
									<img class="resize" src="/static/img/pp.png">
								</div>

								<div class="col-md-10" id="result-item-info">
									<a class="crhref" href="profile/{{i[0]}}">
                                        {% if i[1] != None %}
                                            {{i[1].title()}}
                                        {% else %}
                                            None
                                        {% endif %}

                                        {% if i[2] != None %}
                                            {{i[2].title()}}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </a> <!-- name -->

									<p class="crtext">
                                        {% if i[3] != None %}
                                            {{i[3].title()}}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p> <!-- title -->
									<p class="crtext">
                                        {% if i[4] != None %}
                                            {{i[4].title()}}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p> <!-- university -->
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				<div class="col-md-1"></div>

			</div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


    <script src="static/js/script.js"></script>

</body>

</html>
